{% extends 'main.html' %}


{% block content %}
{% load static %}
    <div class="container">
        <div class="left">
            <img class="image" src="{% static 'images/Illustration.svg' %}" alt="hi"/>
        </div>
        <div class="right">
           
            <div class="bg-box">
               
                <div class="head-text">
                    <h1 class="tee">Welcome Back To</h1>
                    <h1 class="bud">STUDY BUDDY</h1>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="body-top">
                       

                        <div class="form-group">
                            <input type="text" class="form-control" name="username"/>
                            <label class="form-control-label" for="username">Username</label>
                        </div>
                        
                        
                        <div class="form-group">
                            <input type="password" class="form-control" name="password"/>
                            <label for="password" class="form-control-label">Password</label>
                        </div>

                        <br>
                        <div class="form-group">
                            <input type="submit" class="buttons" value="Login"> <br>
                            <p class="option">Don't have an account? <a class="link" href="{% url 'signup' %}">Register</a></p>
                        </div>
                   
                    </div>
                </form>
            </div>
       
        </div>
    </div>
    
    <!--script src="custom.js"></script-->
    
{% endblock content %}