{% extends 'main.html' %}

{% block content %}
    {% include 'header.html' %}
   
    <div class="chat">
        <div class="chat-content">
            <div class="chat-left">
                <div class="left-heading">
                    <h2>Study Buddy</h2>
                </div>
                <ul class="stud">
                    <li><a href="{% url 'addcourse' %}">Back to Courses</a></li>
                    <li><a class="active" href="profile.html">Profile</a></li>
                </ul>
               
            </div>
            <div class="chat-right">
                <div class="contact-head">
                    <h1><strong>User Information</strong></h1>                
                </div>
                <hr>
                <form action="#">
                    
                   <div class="first">

                       <div class="first-head">
                           <h3>Profile</h3>
                       </div>

                       <div class="first-details">
                    
                        <div class="fill">
                            <label for="username">Username</label>
                            <input type="text" class="entry" placeholder="Enter username"/>
                        </div>
    
                        <br>
    
                        <div class="fill">
                            <input type="submit" class="btn" value="Update Profile">
                        </div>
                       </div>

                   </div>
                    <hr>
                        <div class="first-head">
                            <h3>Password</h3>
                        </div>
                        <div class="first-details">
                            <div class="fill">
                                <label for="password">Old Password</label>
                                <input type="password" class="entry" placeholder="old password"/>
                            </div>

                            <div class="fill">
                                <label for="password">New Password</label>
                                <input type="password" class="entry" placeholder="New password"/>
                            </div>

                            <div class="fill">
                                <label for="password">Confirm New Password</label>
                                <input type="password" class="entry" placeholder="Confirm New password"/>
                            </div>

                            <br>
    
                            <div class="fill">
                                <input type="submit" class="btn" value="Change Password">
                            </div>
                        </div>
                   

                </form>
              
    
            </div>
        </div>
    </div>

{% endblock content %}