{% extends 'main.html' %}

{% block content %}
    {% load static %}   
    <div class="container">
        <div class="left">
            <img class="image" src="{% static 'images/img_dwn.png' %}" alt="hi"/>
        </div>
        <div class="right">
           
            <div class="bg-box">
               
                <div class="head-text">
                    <h1 class="tee">Welcome To</h1>
                    <h1 class="bud">STUDY BUDDY</h1>
                </div>
                <form>
                    <div class="body-top">
                       
                        <div class="form-group">
                            <input type="text" class="form-control"/>
                            <label class="form-control-label" for="username">Username</label>
                        </div>

                        <div class="form-group">
                            <input type="email" class="form-control"/>
                            <label class="form-control-label" for="email">Email</label>
                        </div>
                        
                        <div class="form-group">
                            <input type="password" class="form-control"/>
                            <label for="password" class="form-control-label">Password</label>
                        </div>

                        <div class="form-group">
                            <input type="submit" class="buttons" value="Signup"> <br>
                            <p class="option">Already have an account? <a class="link" href="{% url 'index' %}">Sign In</a></p>
                        </div>
                   
                    </div>
                </form>
            </div>
       
        </div>
    </div>
    
    
{% endblock content %}